.ministries {


    .info-card-container {
        display: flex;
        flex-direction: column;
        gap: 2em;
    }
}

@media only screen and (min-width: 1024px) {
    .ministries {
        width: 70%;
        justify-self: center;
    }
}