@use '../../../../styles/variables' as *;

.footer {
    background-color: $gray-color;
    display: flex;
    flex-direction: column;

    .column {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 2em 0;

        .social-links {
            display: flex;
            flex-direction: row;
            gap: 2em;
            justify-content: center;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            list-style-type: none;
            gap: 1em;

            li {
                color: $secondary-color;
                font-family: $font-primary;
                font-weight: 300;
                font-size: 22px;
            }

            /* Remove the default underline from links */
            a {
                text-decoration: none;
                /* Remove underline */
                color: inherit;
                /* Inherit the text color from the parent (li) */
            }
        }
    }


}

@media only screen and (min-width: 640px) {
    .row3 {
        background-color: #fff;

        // background-color: $gray-color;
        .icon {
            .icon-image {
                max-width: 50%;
                align-self: center;
            }
        }
    }
}
