@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krub:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
/* Define global variables */
$primary-color: #000;
$secondary-color: #fff;
$gray-color: #4B4B4B;
$orange-color: #FF6600;
$blue-color: #365E79;

$font-primary: 'Lato', sans-serif;
$font-secondary: 'Oswald', sans-serif;
$font-accent: 'Krub, sans-serif';

$spacing-unit: 1em;
$border-radius: 10px;

$black-border: 1px solid #000;