@use '../../../styles/variables' as *;

.button {
  display: flex;
  align-items: center; // Vertically align icon and text
  justify-content: space-around;
  width: 100%;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Krub', sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  border: 1px solid transparent;
  transition: transform 0.3s ease, filter 0.3s ease; // Smooth hover transition

  &:focus {
    outline: none;
    border-color: rgba(#FF6600, 10%);
  }

  &:hover {
    filter: brightness(0.7); // Darkens the button
    transform: scale(1.05); // Scales the button slightly
  }

  .icon {
    margin-right: 0.5rem; // Space between icon and text
  }

  .button-text {
    display: inline-block;
  }
}

@media only screen and (min-width: 640px) {
  .button {
    font-size: 1.4rem;
  }
}