@import '../../../styles/variables';

.button {
  display: flex;
  align-items: center; // Vertically align icon and text
  justify-content: space-around;
  width: 100%;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  font-size: 1rem;
  font-family: 'Krub', sans-serif;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  border: 1px solid transparent;

  &:focus {
    outline: none;
    border-color: darken(#FF6600, 10%);
  }

  &:hover {
    background-color: darken($primary-color, 10%);
  }

  .icon {
    margin-right: 0.5rem; // Space between icon and text
  }

  .button-text {
    display: inline-block;
  }
}

@media only screen and (min-width: 640px) {
  .button {
    font-size: 1.4rem;
  }
}