@import '../../../styles/variables';

.section-header {
    font-family: $font-secondary;
    font-size: 32px;
    line-height: 40px;
    color: $gray-color;
    font-weight: bold;
    text-decoration: underline;
  }
  